

h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }

sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
body{min-width:1400px;}


                                   /*login*/
.login{
       height:850px;
       position:relative;
}

.login-top{
       /*background-color: greenyellow;*/
       height:100px;
       position:relative;


}

.carhome-logo-login{
       position:absolute;
       left:265px;
       top:30px;
}

.back-home-login{
       position:absolute;
       right:265px;
       top:40px;


}

.back-home-font{
       font-size:23px;
       color:black;
}

/*end top*/

.login-center{



       background-color: #EAEAEA;
       height:600px;
       position:relative;
}



.login-form{
       width:350px;
       height:450px;
       background-color: #FFFFFF;
       position:absolute;
       right:200px;
       top:80px;
       box-shadow: 10px 10px 10px #ccc;
}

.login-form-form{
       position:absolute;
       top:100px;
}

/*end center*/

.login-footer{
       background-color: #2aabd2;
       height:150px;
}

                                   /*end login*/


                                   /*sign*/

.sign-top{
       width:800px;
       height:100px;
       margin:auto;
}


.sign-form{
       width:800px;
       height:600px;
       margin:auto;
       border:1px solid #c0c0c0;
       box-shadow: 10px 10px 10px #ccc;



}












                                   /*end sign*/